<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>HARVEST GROCERY SHOP</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description"
        content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/urdan/index.html" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Urdan - Minimal eCommerce HTML Template" />
    <meta property="og:url" content="https://htmldemo.hasthemes.com/urdan/index.html" />
    <meta property="og:site_name" content="Urdan - Minimal eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description"
        content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store." />
    <!-- Add site Favicon -->
    <link rel="icon" href="/User/images/favicon/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/User/images/favicon/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="assets/images/favicon/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/cropped-favicon-270x270.png" />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="/User/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/User/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/User/css/vendor/themify-icons.css" />
    <link rel="stylesheet" href="/User/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="/User/css/plugins/animate.css" />
    <link rel="stylesheet" href="/User/css/plugins/aos.css" />
    <link rel="stylesheet" href="/User/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="/User/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="/User/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="/User/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="/User/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/User/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="/User/css/plugins/slinky.css" />
    <link rel="stylesheet" href="/User/css/style.css" />

    <style>
        #wrapper {
    text-align:center;
    border:1px solid #7F7F7F;
    width:150px;
    margin:25px auto;
    padding:25px;
    background-color:#E3E4E4;
}



button {
    width:125px;
    padding:10px;
}

.btnEnable {
    background-color:#32a852;
    border:1px solid #32a852;
    color:#ffffff;
    cursor:pointer;
}

.btnDisable {
    background-color:#e20000;
    border:1px solid #da0000;
    color:#ffffff;
    cursor:wait;
}
    </style>
</head>




<body>


    </div>
    <div class="header-bottom bg-light">
        <div class="container">
            <div class="row" style=" justify-content: center">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="logo">
                        <center> <a href="/"><img src="/User/images/logo/looo-removebg-preview.png" alt="logo"></a></center>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </header>
    <div class="login-register-area pb-100 pt-100 "  style="background-color: #e4f0e9">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 offset-lg-2">

                    <div class="login-register-wrapper bg-light">
                        <div class="login-register-tab-list nav  ">
                          
                            <a data-bs-toggle="tab" href="#lg2"><br>
                                <h6 style="font-size: 1rem;color: #32a852;">  A Six Digit OTP has been sent to your Mobile number +91-9*********  </h6>
                            </a>
                        </div>
    
                        <div class="tab-content">


                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="/confirmotp" method="post">
                                            <input type="number" name="phone" id="phone"
                                                placeholder="Type Your Six Digits OTP">
                                             <center>
                                            <div class="button-box btn-hover  ">
                                                <button  type="submit" id="confirmOtp" style="background-color: #32a852;">Confirm OTP</button>
                                              </div>
                                              {{!-- <div id="wrapper"> --}}
                                             <div>
                                            </center>
                                        <form action="/otp" method="post">
                                            <p class="" style="color: #32a852;" id="">Resend OTP in : <a href="" id="myTimer"></div></p>
                                          <button type="button" id="myBtn" class="btn-sm  btnDisable" disabled >
                                           Please wait...
                                          </button></a>
                                        </form>

                                             </div>
                                             
                                          
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area">
        <div class="bg-light-2">
            <div class="container">
                <div class="footer-top pt-80 pb-35">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-about mb-40">
                                {{!-- <div class="footer-logo">
                                    <a href="index.html"><img src="/User/images/logo/looo.jpeg" alt="logo"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, cons adipi elit, sed do eiusmod tempor incididunt ut
                                    aliqua.</p> --}}
                                <div class="payment-img">
                                    <a href="#"><img src="user/images/icon-img/payment.png" alt="logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-widget-margin-1 footer-list mb-40">
                                <h3 class="footer-title">Information</h3>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-list mb-40">
                                <h3 class="footer-title">My Accound</h3>
                                <ul>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="wishlist.html">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Order History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-widget-margin-2 footer-address mb-40">
                                <h3 class="footer-title">Get in touch</h3>
                                <ul>
                                    <li><span>Address: </span>Your address goes here </li>
                                    <li><span>Telephone Enquiry:</span> (012) 345 6789</li>
                                    <li><span>Email: </span>demo@example.com</li>
                                </ul>
                                <div class="open-time">
                                    <p>Open : <span>8:00 AM</span> - Close : <span>18:00 PM</span></p>
                                    <p>Saturday - Sunday : Close</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-3">
            <div class="container">
                <div class="footer-bottom copyright text-center bg-gray-3">
                    <p>Copyright ©2021 All rights reserved | Made with <i class="fa fa-heart"></i> by <a
                            href="https://hasthemes.com/"> HasThemes</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Mobile Menu start -->
   <div class="off-canvas-active">
                <a class="off-canvas-close"><i class=" ti-close "></i></a>
                <div class="off-canvas-wrap">
                    <div class="welcome-text off-canvas-margin-padding">
                        {{#if user}}
                        <p>Welcome {{user.name}} !</p>
                        {{else}}
                        <p> Welcome Please Login! </p>
                        {{/if}}
                    </div>
                    <div class="mobile-menu-wrap off-canvas-margin-padding-2">
                        <div id="mobile-menu" class="slinky-mobile-menu text-left">
                            <ul>
                                <li>
                                    <a href="/">HOME</a>

                                <li>
                                    <a href="#">SHOP</a>
                                    <ul>
                                        <li>
                                            <a href="/allproducts">View All Products</a>

                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#">SHOP BY CATEGORY </a>

                                    <ul class="sub-menu-style">
                                        {{#each category}}
                                        <li><a href="/veg/{{this._id}}"> {{this.category}}</a></li>

                                        {{/each}}
                                    </ul>

                                </li>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
    </div>

    

    <script>
        var sec = 120;
var myTimer = document.getElementById('myTimer');
var myBtn = document.getElementById('myBtn');
window.onload = countDown;

function countDown() {
    if (sec < 10) {
        myTimer.innerHTML = "0" + sec + " s";
    } else {
        myTimer.innerHTML = sec +" s";
    }
    if (sec <= 0) {
        $("#myBtn").removeAttr("disabled");
        $("#myBtn").removeClass().addClass("btnEnable");
        $("#myTimer").fadeTo(2500, 0);
        myBtn.innerHTML = "Resend";
        return;
    }
    sec -= 1;
    window.setTimeout(countDown, 1000);
}
    </script>

    
    <!-- All JS is here -->
    <script src="/javascripts/script.js"></script>
    <script src="/User/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/User/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/User/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/User/js/vendor/popper.min.js"></script>
    <script src="/User/js/vendor/bootstrap.min.js"></script>
    <script src="/User/js/plugins/wow.js"></script>
    <script src="/User/js/plugins/scrollup.js"></script>
    <script src="/User/js/plugins/aos.js"></script>
    <script src="/User/js/plugins/magnific-popup.js"></script>
    <script src="/User/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/User/js/plugins/swiper.min.js"></script>
    <script src="/User/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/User/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/User/js/plugins/jquery-ui.js"></script>
    <script src="/User/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/User/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/User/js/plugins/waypoints.min.js"></script>
    <script src="/User/js/plugins/counterup.min.js"></script>
    <script src="/User/js/plugins/select2.min.js"></script>
    <script src="/User/js/plugins/easyzoom.js"></script>
    <script src="/User/js/plugins/slinky.min.js"></script>
    <script src="/User/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/User/js/main.js"></script>
</body>

</html>