* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.wrapper ul{

    display: flex;
    background-color: rgb(20, 30, 222);
    padding: 8px;
    width: 500px;
    border-radius: 58px;
    height: 65px;
}

.wrapper ul li{

    list-style: none;
    line-height: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
    margin: 10px;
    border-radius: 58px;
    color: white;
    padding: 18px;
    margin-bottom: 50px;
   
}

.wrapper ul li.numb{

    height: 40px;
    width: 58px;
}

.wrapper ul li.btn{
    line-height: 18px;
    font-size: 22px;
    /* margin-bottom: 30px; */

}

.wrapper ul li.btn:hover{

    background-color: transparent;
    border: 1px solid white;
}

.wrapper ul li.active{

    background-color: white;
    color: black;
    box-shadow: 0 0 20px;
}
